/* Reset Code */

*/ html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: black;
}

.hide {
    display: none;
}

/*Header*/

#header {
    width: 100%;
    background-color: palevioletred;
    padding: 30px;
}

.title {
    font-size: 5vh;
    font-family: 'Fredericka the Great', cursive;
}

.subtitle {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2vh;
}

#header p {
    font-size: 3vh;
    font-family: 'Fredericka the Great', cursive;
}

aside {
    background-color: orange;
    padding: 30px;
    min-height: 100%;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5vw;
    margin-right: -30px;

}

aside h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3vh;
    color: white;
    padding-bottom: 20px;
}

/*search area*/

nav {
    width: 100;
}

.search-container {
    border: transparent;
    text-align: start;
    padding: 20px;
    background-color: skyblue;
}

.search-container h4 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 3vh;
}

#searchText {
    width: 90%;
    font-size: 2vh;
    text-align: end;
    padding: 10px;
}

.boxProp {
    padding-top: 10px;
    vertical-align: middle;
    width: 50px;
}

/*Today Container */

.today-container {
    background-color: palegreen;
    height: 60%;
    border: none;
    padding: 30px;
}

#dayHero {
    padding-left: 30px;
}

.location {
    font-family: 'Fredericka the Great', cursive;
    font-size: 5vw;
    text-align: center;
}

.img1 {
    width: 450px;
}

.temp1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3vw;
    text-align: start;
}

#dayInfo {
    padding: 30px;
    padding-right: 100px;
    text-align: end;
}

.date1 {
    color: orange;
    font-family: 'Fredericka the Great', cursive;
    font-size: 4vw;

}

.weatherCon,
.humidity,
.wind,
.uvIndex {
    padding: 10px;
    font-family: 'Fredericka the Great', cursive;
    color: black;
    font-size: 1.5vw;
    line-height: 1vh;

}

/*Futue Box */

#tomorrow-container {
    background-color: palegoldenrod;
    padding: 20px;
    text-align: center;
}

#day2,
#day3,
#day4,
#day5 {
    font-family: 'Fredericka the Great', cursive;
    width: 100%;
}

.date2,
.date3,
.date4,
.date5 {

    font-family: 'Share Tech Mono', monospace;
}

footer {
    background-color: #cca3f5;
    color: white;
    text-align: end;
    padding: 30px;
    min-width: 100%;
}

#clock {
    font-size: 3vh;
    font-family: 'Share Tech Mono', monospace;
}

#dateSet {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3vh;
    line-height: 2vh;
}

@media screen and (max-width: 768px) {

    aside {
        margin-right: 0;
        text-align: center;
        font-size: 2vh;
    }

    .temp1 {
        font-size: 4vh;
    }

    .location {
        font-size: 6vh;

    }

    .date1,
    .weatherCon,
    .humidity,
    .wind,
    .uvIndex {
        font-size: 3vh;

    }

    #clock {
        float: right;
        line-height: 1vh;
    }

    #dateSet {
        float: left;
        line-height: 1vh;
    }

}

@media screen and (max-width: 400px) {

    .img1 {
        width: 100%;
    }

    .location {
        font-size: 5vh;

    }

    #dayInfo {
        text-align: start;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: 10px;
            font-size: 1vh;
            padding: 20px;
            line-height: 2vh;    
    }

    .date1 {
        text-align: start;
        font-size: 4vh;
        padding: 10px;
        grid-column: 1/3;
        grid-row: 1;
    }

    .weatherCon {
        font-size: 3vh;
        line-height: 3vh;
        grid-column: 1;
        grid-row: 2;
    }
    .humidity {
        grid-column: 2;
        font-size: 3vh;
        line-height: 3vh;
        grid-row: 2;
    }

    .wind {
        font-size: 3vh;
        line-height: 3vh;
        grid-column: 1;
        grid-row: 3;
    }
    .uvIndex {
        font-size: 3vh;
        line-height: 3vh;
        grid-column: 2;
        grid-row: 3;
  
    }

    .date2,
    .date3,
    .date4,
    .date5 {
        font-size: 2vh;
    }

    .img2,
    .img3,
    .img4,
    .img5 {
        height: 8vh;
    }

    .temp2,
    .temp3,
    .temp4,
    .temp5 {
        font-size: 1.5vh;    
    }

    .humid2,
    .humid3,
    .humid4,
    .humid5 {
        font-size: 1.5vh;
        
    }

}