/* Reset Code */

*/ html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: black;
}

.hide {
    display: none;
}

/*Header*/

#header {
    width: 100%;
    background-color: palevioletred;
    padding: 30px;
}

.title {
    font-size: 5vh;
    font-family: 'Fredericka the Great', cursive;
}

.subtitle {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2vh;
}

#header p {
    font-size: 3vh;
    font-family: 'Fredericka the Great', cursive;
}

aside {
    background-color: orange;
    padding: 30px;
    min-height: 100%;
    font-family: 'Share Tech Mono', monospace;
    font-size: 3vh;
    margin-right: -30px;

}

aside h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 4vh;
    color: white;
    padding-bottom: 20px;
}

/*search area*/

nav {
    width: 100;
}

.search-container {
    border: transparent;
    text-align: start;
    padding: 20px;
    background-color: skyblue;
}

.search-container h4 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 3vh;
}

#searchText {
    width: 90%;
    font-size: 2vh;
    text-align: end;
    padding: 10px;
}

.boxProp {
    padding-top: 10px;
    vertical-align: middle;
    width: 50px;
}

#error {
    float: right;
    color: red;
    font-size: 2vh;
    font-family: 'Share Tech Mono', monospace;
    text-align: end;
}

/*Today Container */

.today-container {
    background-color: palegreen;
    height: 60%;
    border: none;
    padding: 30px;
}

.location {
    font-family: 'Fredericka the Great', cursive;
    font-size: 9vh;
    text-align: center;
}

.img1 {
    width: 120%;
}

.temp1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 5vh;
    color: orange;
    text-align: start;
}

#dayInfo {
    padding: 30px;
    padding-right: 80px;
}

.date1 {
    color: orange;
    font-family: 'Fredericka the Great', cursive;
    font-size: 6vh;
    text-align: center;
}

.weatherCon,
.humidity,
.wind,
.uvIndex {
    padding: 10px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 3vh;
    text-align: center;
}

/*Futue Box */

#tomorrow-container {
    background-color: palegoldenrod;
    padding: 20px;
    text-align: center;
}

#day2,
#day3,
#day4,
#day5 {
    font-family: 'Fredericka the Great', cursive;
    width: 100%;
}

.date2,
.date3,
.date4,
.date5 {

    font-family: 'Share Tech Mono', monospace;
}

footer {
    background-color: mediumslateblue;
    font-family: 'Frijole', cursive;
    color: white;
    text-align: end;
    padding: 20px;
    min-width: 100%;
}

@media screen and (max-width: 768px) {

    aside {
        margin-right: 0;
    }
}